/* ----------------------- Fonts ----------------------- */

@font-face {
font-family: CircularStd;
font-weight: 400;
font-style: normal;
src: url("../fonts/circular-std/CircularStd-Book.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: 500;
font-style: normal;
src: url("../fonts/circular-std/CircularStd-Medium.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: bold;
font-style: normal;
src: url("../fonts/circular-std/CircularStd-Bold.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: 900;
font-style: normal;
src: url("../fonts/circular-std/CircularStd-Black.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: 400;
font-style: italic;
src: url("../fonts/circular-std/CircularStd-BookItalic.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: 500;
font-style: italic;
src: url("../fonts/circular-std/CircularStd-MediumItalic.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: 700;
font-style: italic;
src: url("../fonts/circular-std/CircularStd-BoldItalic.otf") format("opentype");
}

@font-face {
font-family: CircularStd;
font-weight: 900;
font-style: italic;
src: url("../fonts/circular-std/CircularStd-BlackItalic.otf") format("opentype");
}

body {
  font-family: "CircularStd", "Lato", Helvetica, Arial, sans-serif;
}

span.glyphicon-chevron-down {
    font-size: 3em;
}

/*  ----------------------- Containers ----------------------- */

.container-top{
   background-color: black;
   padding-top: -20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

footer {
  padding-top: 50px;
  background-color: black;
  color: white;
  font-style: bold;
}


/* ----------------------- Main Elements ----------------------- */

footer p{
  color: white;
  font-size: 10px;
  line-height: 110%;
}
footer a{
  color: white;
}
small {
  color: white;
}
small a{
  color: white;
}

h2{
  color: #2C3E50;
}
h3{
  color: #2C3E50;
}
h4{
  color: #2C3E50;
}
p{
  color: #2C3E50;
}

hr {
  border-color: #34495E;
}

.container h3{
  margin-top: 5%;
}
.container h2{
  margin-bottom: 10%;
}

/* ----------------------- Buttons ----------------------- */

.btn-danger{
  color: #2C3E50;
  background-color: white;
  border: solid 2px #2C3E50;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #EA547B;
}

/* ----------------------- Navbar ----------------------- */

.navbar {
  min-height: 20px;
}

.navbar-inverse{
  padding-top: 0px;
}

.navbar-inverse .img-responsive{
  padding-top: 30px;
  padding-bottom: 20px;
  max-height: 100px;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    border: 2px solid;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-nav>li>a {
  padding-bottom: 0px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #EA2879;
  background-color: white;
}

/* ----------------------- Panel ----------------------- */


.panel .row{
  padding: 10px;
}
.panel p {
  font-size: 20px;
}

.panel-title {
  font-size: 40px;
}

.panel-heading span {
    margin-top: -35px;
    font-size: 15px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #7F8C8D;
}

/* ----------------------- Images and Videos ----------------------- */

.clickable {
    cursor: pointer;
} 
.featurette-image:hover {
  opacity: 0.5;
}
.video {
  margin-top: 5%;
}

/* ----------------------- Media Queries ----------------------- */

@media (min-width: 991px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .mobile-hide{
      display: none;
    }
    .navbar .navbar-collapse {
        text-align: left;
    }
    

}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {

}
